.top {
  height: 100px;
  background-color: red;
}
.header {
  height: 300px;
  background-color: blue;
}
.main {
  height: 500px;
  background-color: skyblue;
}
.footer {
  height: 100px;
  background-color: black;
}
